<!DOCTYPE html>
<html lang="en">
<head>
    <title>WEATHER MUSIC | NEWSLETTER</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

{% include "navbar.html" %}

<body>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" value="Submit">Dołącz do newslettera</button>
</form>

    <a href="{% url 'newsletter:delete' %}">
        <p>Jeśli chcesz anulować subskrypcję kliknij link</p>
    </a>

</body>

{% include "footer.html" %}


</html>